<div class="max-w-xl px-4 py-8 mx-auto md:px-0">
  <h1>Sign In</h1>
  <%= simple_form_for :session, method: :post, url: sessions_path, html: { class: 'p-4 mb-4 bg-white border border-gray-200 rounded-md' } do |f| %>
    <%= f.input :user_id, label: 'Choose User', collection: User.all.order(name: :asc) %>
    <%= f.button :submit, 'Set User' %>
  <% end %>
</div>
