<div class="max-w-xl px-4 py-8 mx-auto md:px-0">
  <h1 class="mb-6 leading-snug text-center">
    Welcome to
    <br>
    The Ultimate PaperTrail Guide!
  </h1>
  <p>
    We're starting with a basic simple mini blog application. If you've seeded
    the database, you should see <%= link_to 'a post feed', posts_path %>.
  </p>
  <p>
    If not, run the following commands:
  </p>
</div>
