<div class="flex items-center justify-center h-screen text-white bg-gradient-to-tr from-orange-500 to-pink-600">
  <div>
    <h1 class="max-w-4xl mx-auto mb-12 font-bold leading-snug text-center text-8xl">The Ultimate PaperTrail Guide</h1>
    <div class="text-center">
      <%= link_to 'Get Started', set_step_path(step: 1), class: 'button-alt text-lg', method: :post %>
    </div>
  </div>
</div>
