<%= render layout: 'layouts/base' do %>
  <div class="max-w-xl px-4 py-8 mx-auto md:px-0 basic-page-content">
    <%= yield %>
    <div class="flex items-center justify-center mt-8 space-x-3 text-center">
      <% if prev_step %>
        <%= link_to "Go Back", set_step_path(step: prev_step), class: 'text-sm', method: :post %>
      <% end %>
      <% if next_step %>
        <%= link_to "Next Step", set_step_path(step: next_step), class: 'button', method: :post %>
      <% end %>
    </div>
  </div>
<% end %>
